@page "/MyConnectors"
@using Rocket.Api.Contracts.Connectors
@using Rocket.Domain.Core.Enum
@using Rocket.Web.Client
@using Rocket.Web.Host.Components.Dialog
@using Rocket.Web.Host.Infrastructure
@implements IAsyncDisposable
@inject IApiRequestManager ApiRequestManager
@inject IWebHostErrorHandler WebHostErrorHandler
@inject IDialogService DialogService
@inherits Rocket.Web.Host.Infrastructure.BaseSecureCancellableComponent

<MudText
    Align="Align.Center"
    Typo="Typo.h4"
    Color="Color.Primary"
    Class="mb-4">
    My Connectors
</MudText>

<BottleRocketLoadingOverlay IsLoading="@_isLoading">
    @if (_connectors.Any())
    {
        <MudSimpleTable Dense>
            <thead>
            <tr>
                <th></th>
                <th>Connector</th>
                <th>Type</th>
                <th>Created</th>
                <th>Last Updated</th>
                <th/>
            </tr>
            </thead>
            <tbody>
            @foreach (var connector in _connectors)
            {
                <tr>
                    <td>
                        <MudIcon
                            Icon="@MapStatusToIcon(connector.Status)"
                            Color="@MapStatusToColor(connector.Status)"/>
                    </td>
                    <td>
                        <MudText Color="Color.Primary">
                            @connector.ConnectorName
                        </MudText>
                    </td>
                    <td>
                        <MudText Color="Color.Secondary">
                            @connector.ConnectorType
                        </MudText>
                    </td>
                    <td>@connector.CreatedAt?.ToString("g")</td>
                    <td>@connector.LastUpdatedAt?.ToString("g")</td>
                    <td>
                        <MudIconButton
                            OnClick="@(() => ConfirmDeleteAsync(connector))"
                            Icon="@StandardIcons.DeleteIcon"/>
                    </td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>
        <MudDivider Class="my-4"/>
        <MudGrid Justify="Justify.Center">
            <MudItem>
                <MudButton
                    Variant="Variant.Outlined"
                    Color="Color.Primary"
                    Disabled="@_noMoreRecords"
                    @onclick="@(async () => await LoadMyConnectors(
                                  _currentIndex,
                                  DefaultPageSize
                              ))">
                    Load More
                </MudButton>
            </MudItem>
        </MudGrid>
    }
    else
    {
        <MudText
            Align="Align.Center"
            Typo="Typo.body2"
            Color="Color.Default">
            No connectors found
        </MudText>
    }
</BottleRocketLoadingOverlay>

@code {
    private const int DefaultPageSize = 12;
    private bool _isLoading;
    private bool _noMoreRecords = false;
    private int _currentIndex = 0;
    private IEnumerable<ConnectorSummary> _connectors = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await
                base
                    .OnInitializedAsync();

            _isLoading = true;

            await
                LoadMyConnectors(
                    _currentIndex,
                    DefaultPageSize
                );
        }
        catch (Exception ex)
        {
            WebHostErrorHandler
                .HandleException(ex);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task LoadMyConnectors(int index, int count)
    {
        var request =
            new FetchConnectorsRequest
            {
                StartIndex = index,
                RecordCount = count
            };

        var response =
            await
                ApiRequestManager
                    .GetMyConnectorsAsync(
                        request,
                        BaseCancellationToken
                    );

        _currentIndex +=
            (response?.Connectors ?? [])
            .Count();

        _noMoreRecords = _currentIndex == (response?.TotalRecords ?? 0);

        var existingConnectors = new List<ConnectorSummary>(_connectors);
        var newConnectors = new List<ConnectorSummary>(response?.Connectors ?? []);

        _connectors =
            existingConnectors
                .UnionBy(
                    newConnectors,
                    o => o.Id
                )
                .OrderByDescending(o => o.LastUpdatedAt);
    }

    private async Task ConfirmDeleteAsync(ConnectorSummary connector)
    {
        var dialog =
            await
                DialogService
                    .ShowAsync<ConfirmDeleteConnectorDialog>(
                        null,
                        new DialogParameters
                        {
                            { "Connector", connector }
                        }
                    );

        var result =
            await
                dialog
                    .Result;

        if (!(result?.Canceled ?? true))
        {
            try
            {
                _isLoading = true;
                StateHasChanged();

                await
                    ApiRequestManager
                        .DeleteConnectorByIdAsync(
                            connector.Id,
                            BaseCancellationToken
                        );

                _connectors =
                    _connectors
                        .Where(o => o.Id != connector.Id);
            }
            catch (Exception ex)
            {
                WebHostErrorHandler
                    .HandleException(ex);
            }
            finally
            {
                _isLoading = false;
                StateHasChanged();
            }
        }
    }

    public async ValueTask DisposeAsync()
    {
    }

    private static string MapStatusToIcon(int connectorStatus)
    {
        return connectorStatus switch
        {
            (int)ConnectorStatusEnum.Active => StandardIcons.SyncActive,
            _ => StandardIcons.SyncPending
        };
    }

    private static Color MapStatusToColor(int connectorStatus)
    {
        return connectorStatus switch
        {
            (int)ConnectorStatusEnum.Active => Color.Success,
            _ => Color.Warning
        };
    }

}