@page "/MyConnectors"
@using Rocket.Api.Contracts
@using Rocket.Api.Contracts.Connectors
@using Rocket.Web.Host.Api
@using Rocket.Web.Host.Infrastructure
@implements IAsyncDisposable
@inject IApiRequestManager ApiRequestManager
@inject IWebHostErrorHandler WebHostErrorHandler
@inherits Rocket.Web.Host.Infrastructure.BaseSecureCancellableComponent

<MudText
    Align="Align.Center"
    Typo="Typo.h4"
    Color="Color.Primary"
    Class="mb-4">
    My Connectors
</MudText>

<BottleRocketLoadingOverlay IsLoading="@_isLoading">
    <MudSimpleTable Dense>
        <thead>
        <tr>
            <th>Connector</th>
            <th>Type</th>
            <th>Created</th>
            <th>Last Updated</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var connector in _connectors)
        {
            <tr>
                <td>
                    <MudNavLink Href="@($"/MyConnector/{connector.ConnectorName}/{connector.Id}")">
                        <MudText Color="Color.Primary">
                            @connector.ConnectorName
                        </MudText>
                    </MudNavLink>
                </td>
                <td>
                    <MudText Color="Color.Secondary">
                        @connector.ConnectorType
                    </MudText>
                </td>
                <td>@connector.CreatedAt?.ToString("g")</td>
                <td>@connector.LastUpdatedAt?.ToString("g")</td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
    <MudDivider Class="my-4"/>
    <MudGrid Justify="Justify.Center">
        <MudItem>
            <MudButton
                Variant="Variant.Outlined"
                Color="Color.Primary"
                Disabled="@_noMoreRecords"
                @onclick="@(async () => await LoadMyConnectors(
                              _currentIndex,
                              DefaultPageSize
                          ))">
                Load More
            </MudButton>
        </MudItem>
    </MudGrid>
</BottleRocketLoadingOverlay>

@code {
    private const int DefaultPageSize = 12;
    private bool _isLoading;
    private bool _noMoreRecords = false;
    private int _currentIndex = 0;
    private IEnumerable<ConnectorItem> _connectors = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await
                base
                    .OnInitializedAsync();

            _isLoading = true;

            await
                LoadMyConnectors(
                    _currentIndex,
                    DefaultPageSize
                );
        }
        catch (Exception ex)
        {
            WebHostErrorHandler
                .HandleException(ex);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task LoadMyConnectors(int index, int count)
    {
        var request =
            new FetchConnectorsRequest
            {
                StartIndex = index,
                RecordCount = count
            };

        var response =
            await
                ApiRequestManager
                    .GetMyConnectorsAsync(
                        request,
                        BaseCancellationToken
                    );

        _currentIndex +=
            (response?.Connectors ?? [])
            .Count();

        _noMoreRecords = _currentIndex == (response?.TotalRecords ?? 0);

        var existingConnectors = new List<ConnectorItem>(_connectors);
        var newConnectors = new List<ConnectorItem>(response?.Connectors ?? []);

        _connectors =
            existingConnectors
                .UnionBy(
                    newConnectors,
                    o => o.Id
                )
                .OrderByDescending(o => o.LastUpdatedAt);
    }

    public async ValueTask DisposeAsync()
    {
    }

}