@page "/MyWorkflow/{workflowId}/AddStep"
@page "/MyWorkflow/{workflowId}/Steps/{stepId}/AddStep"
@using Rocket.Interfaces
@inherits Rocket.Web.Host.Infrastructure.BaseSecureCancellableComponent
@inject IEnumerable<ISkuWorkflow> WorkflowSkus

<MudPaper Class="p-4" elevation="2">
    <MudText
        Align="Align.Center"
        Color="Color.Primary"
        GutterBottom
        Typo="Typo.h4">
        Add New Workflow Step
    </MudText>
    <MudGrid Justify="Justify.Center" Class="pa-4">
        <MudItem xs="8">
            <MudChipSet
                SelectedValues="@_selectedCategories"
                SelectedValuesChanged="@((IReadOnlyCollection<string> values) =>
                                       {
                                           _selectedCategories = values;
                                           FilterByCategory();
                                       })"
                SelectionMode="SelectionMode.MultiSelection"
                CheckMark
                Variant="Variant.Text"
                Color="Color.Info">
                @foreach (var category in AllCategories ?? [])
                {
                    <MudChip Value="@(category)"/>
                }
            </MudChipSet>
        </MudItem>
        <MudFlexBreak/>
        @foreach (var template in FilteredSkus)
        {
            <MudItem xs="12" sm="12" md="6" lg="4" xl="3">
                <MudCard Style="height:100%" Outlined>
                    <MudCardMedia
                        Image="@Assets[template.ImagePath]"
                        Height="100"/>
                    <MudCardContent>
                        <MudText
                            Typo="Typo.h6"
                            Color="Color.Primary"
                        >
                            @template.Name
                        </MudText>
                        @if (template.DataLeavesYourServer)
                        {
                            <MudChip
                                T="string"
                                Size="Size.Small"
                                Variant="Variant.Outlined"
                                Icon="@StandardIcons.CloudIcon"
                                Color="Color.Warning">
                                Data leaves your server
                            </MudChip>
                        }
                        <p>
                            <MudText Typo="Typo.caption">
                                @template.Description
                            </MudText>
                        </p>
                    </MudCardContent>
                    <MudCardActions Class="justify-end">
                        <MudButton
                            Variant="Variant.Text"
                            Color="Color.Success"
                            @onclick="@(() =>
                                          NavigationManager.NavigateTo(
                                              BuildHref(
                                                  template.HrefBase,
                                                  WorkflowId,
                                                  StepId
                                              )
                                          ))">
                            + Add step
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
        <MudFlexBreak/>
        <MudItem>
            <GoBackButton/>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

    [Parameter]
    public string WorkflowId { get; set; }

    [Parameter]
    public string StepId { get; set; }

    [SupplyParameterFromQuery]
    public int? OutputType { get; set; }

    private IReadOnlyCollection<string> _selectedCategories;

    private IEnumerable<string> AllCategories { get; set; }

    private IEnumerable<ISkuWorkflow> AllSkus { get; set; }

    private IEnumerable<ISkuWorkflow> FilteredSkus { get; set; }

    private int? _outputTypeToFilter;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _outputTypeToFilter = OutputType;

        AllSkus = WorkflowSkus;

        AllCategories =
            WorkflowSkus
                .SelectMany(o => o.Categories)
                .Distinct();

        FilteredSkus = AllSkus;

        FilterByCategory();

        StateHasChanged();
    }

    private void FilterByOutputType()
    {
        if (_outputTypeToFilter.HasValue)
        {
            FilteredSkus =
                FilteredSkus
                    .Where(
                        o =>
                            o.InputTypes.Contains(_outputTypeToFilter.Value)
                    );
        }
    }

    private void FilterByCategory()
    {
        if ((_selectedCategories ?? []).Any())
        {
            FilteredSkus =
                AllSkus
                    .Where(
                        o =>
                            _selectedCategories
                                .Any(
                                    c =>
                                        o
                                            .Categories
                                            .Contains(c)
                                )
                    );
        }
        else
        {
            FilteredSkus = AllSkus;
        }

        FilterByOutputType();

        StateHasChanged();
    }

    private static string BuildHref(
        string basePath,
        string workflowId,
        string stepId
    )
    {
        var derivedBasePath = $"{basePath}/{{0}}/AddStep";
        var derivedChildPath = $"{basePath}/{{0}}/Steps/{{1}}/AddStep";

        if (string.IsNullOrEmpty(stepId))
            return
                string
                    .Format(
                        derivedBasePath,
                        workflowId
                    );

        return
            string
                .Format(
                    derivedChildPath,
                    workflowId,
                    stepId
                );
    }

}