@page "/MyScans/{id}"
@using Microsoft.Extensions.Localization
@using Rocket.Api.Contracts.Executions
@using Rocket.Api.Contracts.Scans
@using Rocket.Api.Contracts.Workflows
@using Rocket.Localization.Web
@using Rocket.Web.Client
@using Rocket.Web.Host.Components.Dialog
@using Rocket.Web.Host.Infrastructure
@inject IApiRequestManager ApiRequestManager
@inject IWebHostErrorHandler WebHostErrorHandler
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<ScansResource> StringLocalizer
@inherits Rocket.Web.Host.Infrastructure.BaseSecureCancellableComponent

<BottleRocketLoadingOverlay IsLoading="@_isLoading">
    <MudPaper Class="p-4" elevation="2">
        @if (_scanSpecifics != null)
        {
            <MudGrid Class="pa-4" Justify="Justify.SpaceEvenly">
                <MudItem xs="12" sm="6">
                    @if (_scanSpecifics.Archived)
                    {
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center" Style="height:100%;">
                            <MudIcon
                                Size="Size.Large"
                                Class="broken-image"
                                Icon="@StandardIcons.NoImageIcon"
                                Title="@StringLocalizer["ScansWasArchivedMessage"]"/>

                            <MudText
                                Typo="Typo.h4"
                                Class="broken-image"
                            >
                                Archived
                            </MudText>
                        </MudStack>
                    }
                    else
                    {
                        <MudImage
                            Class="mud-paper mud-paper-outlined"
                            src=@($"data:{_scanSpecifics.ContentType};base64,{_scanSpecifics.ImageBase64}")
                            Fluid/>
                    }
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudStack
                        Style="height:100%;"
                        Justify="Justify.SpaceBetween"
                        StretchItems="StretchItems.Middle"
                        AlignItems="AlignItems.Start">
                        <MudText
                            Align="Align.Center"
                            Typo="Typo.h4"
                            Color="Color.Primary"
                            Class="mb-4">
                            @StringLocalizer["ScansDetailsTitle"]
                        </MudText>
                        <div style="width:100%;">
                            <MudSimpleTable
                                Bordered
                                Dense>
                                <tbody>
                                <SimpleTableRowPair
                                    Title="@StringLocalizer["ScansCaptureDateFieldHeader"]"
                                    Value=@_scanSpecifics.CaptureDate?.ToString("yyyy-MM-dd HH:mm:ss")
                                />
                                <SimpleTableRowPair
                                    Title="@StringLocalizer["ScansContentTypeFieldHeader"]"
                                    Value=@_scanSpecifics.ContentType
                                />
                                <SimpleTableRowPair
                                    Title="@StringLocalizer["ScansStatusFieldHeader"]"
                                    Value=@(_scanSpecifics.Archived ? StringLocalizer["ScansArchivedValue"] : StringLocalizer["ScansActiveValue"])
                                    ValueColor="@(_scanSpecifics.Archived ? Color.Warning : Color.Success)"
                                />
                                <SimpleTableRowPair
                                    Title="@StringLocalizer["ScansVendorFieldHeader"]"
                                    Value=@(string.IsNullOrEmpty(_scanSpecifics.Vendor) ? StringLocalizer["ScansUnknownValue"] : _scanSpecifics.Vendor)
                                />
                                </tbody>
                            </MudSimpleTable>
                        </div>
                        @if (!_scanSpecifics.Archived)
                        {
                            <div class="mud-border-tertiary border p-4 rounded">
                                <MudText
                                    Typo="Typo.h5"
                                    Color="Color.Primary">
                                    @StringLocalizer["ScansManuallyTriggerTitle"]
                                </MudText>
                                <MudText
                                    Typo="Typo.body1">
                                    @StringLocalizer["ScansManuallyTriggerMessage"]
                                </MudText>
                                <MudGrid Class="mt-2" Justify="Justify.SpaceBetween">
                                    <MudItem xs="12">
                                        <MudSelect
                                            T="string"
                                            Label="Workflow"
                                            @bind-Value="@_workflowIdToTrigger"
                                            HelperText="@StringLocalizer["ScansManuallyTriggerFieldHint"]"
                                            Clearable="true"
                                            Required="false">
                                            @foreach (var workflow in _availableWorkflows ?? [])
                                            {
                                                <MudSelectItem Value="@workflow.Id">
                                                    @workflow.Name
                                                </MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudButton
                                            Disabled="@(string.IsNullOrEmpty(_workflowIdToTrigger))"
                                            OnClick="@(async () => await ConfirmTriggerWorkflowAsync())"
                                            Variant="Variant.Outlined"
                                            Color="Color.Success">
                                            @StringLocalizer["ScansRunWorkflowCaption"]
                                        </MudButton>
                                    </MudItem>
                                </MudGrid>
                            </div>
                        }
                        <MudDivider/>
                        <MudGrid Class="align-start" Justify="Justify.FlexEnd">
                            <MudItem>
                                <GoBackButton BackPath="/MyScans"/>
                            </MudItem>
                            <MudItem>
                                <MudButton
                                    Variant="Variant.Outlined"
                                    Color="Color.Info"
                                    Disabled="@(_scanSpecifics.Archived)"
                                    OnClick="@(async () => await DownloadFileAsync())">
                                    @StringLocalizer["ScansDownloadCaption"]
                                </MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                </MudItem>
                <MudFlexBreak/>
                <MudDivider Class="mt-4"/>
                <MudItem xs="12">
                    <MudText
                        Align="Align.Center"
                        Typo="Typo.h5"
                        Color="Color.Primary"
                        Class="mb-4">
                        @StringLocalizer["ScansPreviousRunsTitle"]
                    </MudText>
                </MudItem>
                <PreviousWorkflowRuns Executions="@_executions"/>
            </MudGrid>
        }
    </MudPaper>
</BottleRocketLoadingOverlay>

@code {
    private bool _isLoading;
    private ScanSpecifics _scanSpecifics = null;
    private string _workflowIdToTrigger = null;

    [Parameter]
    public string Id { get; set; }

    private IEnumerable<MyWorkflowSummary> _availableWorkflows = [];
    private IEnumerable<ExecutionSummary> _executions = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await
                base
                    .OnInitializedAsync();

            _isLoading = true;
            StateHasChanged();

            _scanSpecifics =
                await
                    ApiRequestManager
                        .GetMyScanAsync(
                            Id,
                            BaseCancellationToken
                        );

            _availableWorkflows =
                (await
                    ApiRequestManager
                        .GetWorkflowsAsync(
                            new FetchWorkflowsRequest
                            {
                                StartIndex = null,
                                RecordCount = null
                            },
                            BaseCancellationToken
                        )
                ).Workflows;

            _executions =
                (await
                    ApiRequestManager
                        .GetExecutionsAsync(
                            new FetchExecutionsRequest
                            {
                                ScanId = Id,
                            }, BaseCancellationToken
                        ))?
                .Executions;
        }
        catch (Exception ex)
        {
            WebHostErrorHandler
                .HandleException(ex);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

    private async Task ConfirmTriggerWorkflowAsync()
    {
        var dialog =
            await
                DialogService
                    .ShowAsync<ConfirmTriggerWorkflowDialog>();

        var result =
            await
                dialog
                    .Result;

        if (!(result?.Canceled ?? true))
        {
            try
            {
                _isLoading = true;
                StateHasChanged();

                var execution =
                    await
                        ApiRequestManager
                            .CreateExecutionAsync(
                                new CreateExecutionRequest
                                {
                                    WorkflowId = _workflowIdToTrigger,
                                    ScanId = Id,
                                    RunImmediately = true
                                },
                                BaseCancellationToken
                            );

                if (execution != null)
                {
                    try
                    {
                        var response =
                            await
                                ApiRequestManager
                                    .StartExecutionAsync(
                                        execution.Id,
                                        BaseCancellationToken
                                    );

                        if (response.IsStarted)
                        {
                            Snackbar
                                .Add(
                                    StringLocalizer["ScansWorkflowWasTriggeredMessage"].Value,
                                    Severity.Success
                                );
                        }
                    }
                    catch (Exception ex)
                    {
                        WebHostErrorHandler
                            .HandleException(ex);
                    }

                    NavigationManager
                        .NavigateTo($"/MyExecution/{execution.Id}");
                }
            }
            catch (Exception ex)
            {
                WebHostErrorHandler
                    .HandleException(ex);
            }
            finally
            {
                _isLoading = false;
                StateHasChanged();
            }
        }
    }

    private async Task DownloadFileAsync()
    {
        try
        {
            var fileName = _scanSpecifics.Id;
            var contentType = _scanSpecifics.ContentType;

            var base64Data = _scanSpecifics?.ImageBase64;

            if (!string.IsNullOrEmpty(base64Data))
            {
                if (base64Data.Contains(","))
                {
                    base64Data = base64Data.Split(',')[1];
                }

                await
                    JsRuntime
                        .InvokeVoidAsync(
                            "downloadBase64File",
                            fileName,
                            contentType,
                            base64Data
                        );
            }
            else
            {
                throw new Exception(StringLocalizer["ScansNoFileDataError"].Value);
            }
        }
        catch (Exception ex)
        {
            WebHostErrorHandler
                .HandleException(ex);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

}