@page "/GlobalSettings"
@using Microsoft.Extensions.Localization
@using Rocket.Api.Contracts.GlobalSettings
@using Rocket.Interfaces
@using Rocket.Localization
@using Rocket.Localization.Web
@using Rocket.Web.Client
@using Rocket.Web.Host.Infrastructure
@inject IApiRequestManager ApiRequestManager
@inject IWebHostErrorHandler WebHostErrorHandler
@inject ICultureSetter CultureSetter
@inject ISnackbar Snackbar
@inject IStringLocalizer<GlobalSettingsResource> StringLocalizer
@inherits Rocket.Web.Host.Infrastructure.BaseSecureCancellableComponent

<BottleRocketLoadingOverlay IsLoading="@_isLoading">
    @if (_newModel != null)
    {
        <MudForm
            Model="@_newModel"
            @ref="_form">
            <MudPaper Class="p-4" elevation="2">
                <MudText
                    Align="Align.Center"
                    Typo="Typo.h4"
                    Color="Color.Primary"
                    Class="mb-4">
                    @StringLocalizer["GlobalSettingsTitle"]
                </MudText>
                <MudGrid>
                    <MudItem xs="12">
                        <div class="mud-border-tertiary border p-4 mb-4 rounded">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudText
                                        Color="Color.Secondary"
                                        GutterBottom
                                        Typo="Typo.h5">
                                        @StringLocalizer["GlobalSettingsSweepFieldHeader"]
                                    </MudText>
                                    <MudText
                                        Typo="Typo.body2">
                                        <p>
                                            @StringLocalizer["GlobalSettingsSweepFieldHintP1"]
                                        </p>
                                        <p>
                                            @StringLocalizer["GlobalSettingsSweepFieldHintP2"]
                                        </p>
                                        <p>
                                            @StringLocalizer["GlobalSettingsSweepFieldHintP3"]
                                        </p>
                                    </MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudCheckBox
                                        Disabled="@(_isLoading)"
                                        @bind-Value="@_newModel.EnableSweeping">
                                        @StringLocalizer["GlobalSettingsEnableSweepingFieldHeader"]
                                    </MudCheckBox>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField
                                        Disabled="@(!_newModel.EnableSweeping.GetValueOrDefault())"
                                        @bind-Value="_newModel.SweepSuccessfulScansAfterDays"
                                        Label="@StringLocalizer["GlobalSettingsEnableSweepingFieldHeader"]"
                                        Min="0"
                                        OnlyValidateIfDirty/>
                                </MudItem>
                            </MudGrid>
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="mud-border-tertiary border p-4 mb-4 rounded">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudText
                                        Color="Color.Secondary"
                                        GutterBottom
                                        Typo="Typo.h5">
                                        @StringLocalizer["GlobalSettingsLlmTimeoutFieldHeader"]
                                    </MudText>
                                    <MudText
                                        Typo="Typo.body2">
                                        <p>
                                            @StringLocalizer["GlobalSettingsLlmTimeoutFieldHintP1"]
                                        </p>
                                        <p>
                                            @StringLocalizer["GlobalSettingsLlmTimeoutFieldHintP2"]
                                        </p>
                                    </MudText>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField
                                        @bind-Value="_newModel.DefaultModelTimeoutInMinutes"
                                        Label="@StringLocalizer["GlobalSettingsModelTimeoutFieldHeader"]"
                                        Min="1"
                                        Clearable
                                        OnlyValidateIfDirty/>
                                </MudItem>
                            </MudGrid>
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="mud-border-tertiary border p-4 mb-4 rounded">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudText
                                        Color="Color.Secondary"
                                        GutterBottom
                                        Typo="Typo.h5">
                                        @StringLocalizer["GlobalSettingsDefaultLanguageFieldHeader"]
                                    </MudText>
                                    <MudText
                                        Typo="Typo.body2">
                                        <p>
                                            @StringLocalizer["GlobalSettingsDefaultLanguageFieldHintP1"]
                                        </p>
                                    </MudText>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudSelect
                                        T="string"
                                        Label="@StringLocalizer["GlobalSettingsLanguageFieldHeader"]"
                                        @bind-Value="_newModel.DefaultLanguage"
                                        HelperText="@StringLocalizer["GlobalSettingsLanguageFieldHint"]"
                                        Clearable="true"
                                        Required="false">
                                        @foreach (var languagePair in Languages.AvailableLanguages ?? [])
                                        {
                                            <MudSelectItem Value="@languagePair.Value">
                                                @languagePair.Key
                                            </MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                            </MudGrid>
                        </div>
                    </MudItem>
                </MudGrid>
                <MudGrid Class="align-start" Justify="Justify.FlexEnd">
                    <MudItem>
                        <GoBackButton/>
                    </MudItem>
                    <MudItem>
                        <MudButton
                            Variant="Variant.Outlined"
                            Color="Color.Success"
                            Disabled="@(_isLoading)"
                            OnClick="@SubmitAsync">
                            @StringLocalizer["GlobalSettingsSubmitCaption"]
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudForm>
    }
</BottleRocketLoadingOverlay>

@code {

    MudForm _form;

    private bool _isLoading;
    private GlobalSettingsSpecifics _currentModel = null;
    private GlobalSettingsSpecifics _newModel = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await
                base
                    .OnInitializedAsync();

            _isLoading = true;
            StateHasChanged();

            _currentModel =
                await
                    ApiRequestManager
                        .GetGlobalSettingsAsync(
                            BaseCancellationToken
                        );

            _newModel =
                new GlobalSettingsSpecifics
                {
                    SweepSuccessfulScansAfterDays = _currentModel.SweepSuccessfulScansAfterDays,
                    EnableSweeping = _currentModel.EnableSweeping,
                    DefaultModelTimeoutInMinutes = _currentModel.DefaultModelTimeoutInMinutes,
                    DefaultLanguage = _currentModel.DefaultLanguage
                };
        }
        catch (Exception ex)
        {
            WebHostErrorHandler
                .HandleException(ex);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

    private async Task SubmitAsync()
    {
        await
            _form
                .Validate();

        if (_form.IsValid)
        {
            _isLoading = true;
            StateHasChanged();

            try
            {
                var sweepSuccessfulScansAfterDaysValue = _newModel.SweepSuccessfulScansAfterDays;
                var enableSweepingValue = _newModel.EnableSweeping;
                var defaultModelTimeoutInMinutes = _newModel.DefaultModelTimeoutInMinutes;
                var defaultLanguage = _newModel.DefaultLanguage ?? CultureSetter.DefaultLanguage;

                var languageChanged = defaultLanguage != _currentModel.DefaultLanguage;

                await
                    ApiRequestManager
                        .UpdateGlobalSettingsAsync(
                            new GlobalSettingsSpecifics
                            {
                                SweepSuccessfulScansAfterDays = sweepSuccessfulScansAfterDaysValue,
                                EnableSweeping = enableSweepingValue,
                                DefaultModelTimeoutInMinutes = defaultModelTimeoutInMinutes,
                                DefaultLanguage = defaultLanguage
                            },
                            BaseCancellationToken
                        );

                _currentModel =
                    new GlobalSettingsSpecifics
                    {
                        SweepSuccessfulScansAfterDays = sweepSuccessfulScansAfterDaysValue ?? _currentModel.SweepSuccessfulScansAfterDays,
                        EnableSweeping = enableSweepingValue ?? _currentModel.EnableSweeping,
                        DefaultModelTimeoutInMinutes = _currentModel.DefaultModelTimeoutInMinutes,
                        DefaultLanguage = _currentModel.DefaultLanguage
                    };

                if (languageChanged)
                {
                    CultureSetter
                        .SetCulture(defaultLanguage);
                }

                Snackbar
                    .Add(
                        @StringLocalizer["GlobalSettingsHasBeenUpdatedMessage"].Value,
                        Severity.Success
                    );

                NavigationManager
                    .NavigateTo("/");
            }
            catch (Exception ex)
            {
                WebHostErrorHandler
                    .HandleException(ex);
            }
            finally
            {
                _isLoading = false;
                StateHasChanged();
            }
        }
    }
    
}